<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SocketIO</title>
    <script src="js/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/style.css" media="all" type="text/css">
</head>

<body>
    <div class="content">
        <div class="content_in">
            <div id="header">
                <div class="header_01">
                    <img src="images/live.png" alt="">
                    <p>Live Chat</p>
                </div>
                <div class="header_02">
                    <h1>Xin Chào : Sơn Đỗ <span>[ 11:30 AM ]</span></h1>
                </div>
                <div class="header_03"><div class="img"><img src="images/ava.jpg" alt=""></div></div>
            </div>
            <div id="bodychat">
                <div class="leftbody">
                    <div class="leftbody_01">
                        <h2>Online <span>3</span></h2>
                        <ul>
                            <li><img src="images/ava.jpg" alt=""><span>Sơn</span></li>
                            <li><img src="images/h.jpg" alt=""><span>Hạnh</span></li>
                            <li><img src="images/ava.jpg" alt=""><span>Cốm</span></li>
                        </ul>
                    </div>
                    <div class="leftbody_01">
                        <h2>Nhóm Tham Gia<span>3</span></h2>
                        <ul>
                            <li><img src="images/ava.jpg" alt=""><span>HTML</span></li>
                            <li><img src="images/h.jpg" alt=""><span>NODEJS</span></li>
                        </ul>
                    </div>
                    <div class="leftbody_01">
                        <h2>Tất Cả Nhóm<span>3</span></h2>
                        <ul>
                            <li><img src="images/ava.jpg" alt=""><span>HTML</span></li>
                            <li><img src="images/h.jpg" alt=""><span>NODEJS</span></li>
                            <li><img src="images/ava.jpg" alt=""><span>ANGULA</span></li>
                        </ul>
                    </div>
                    <div id="showhideleft"><img src="images/left.png" alt=""></div>
                </div>
                <div class="cterbody">
                    <div id="message_enter">
                        <input type="text" name="" value="" placeholder="Type your message...." id="txt_mess">
                        <button id="btsend">Send</button>
                    </div>
                </div>
                <div class="rightbody">
                    <div class="imgprf">
                        <img src="images/ava.jpg" alt="">
                        <h2>Sơn Đỗ</h2>
                    </div>
                    <div class="info">
                        <p class="birth">1988</p>
                        <p class="provite">HCM</p>
                        <h3 class="stt">Status here</h3>

                    </div>
                </div>
            </div>
        </div>
</div>
</body>

</html>